<% layout("/layouts/boilerplate") -%>

<script>
    const mapToken = "<%= process.env.MAP_TOKEN %>"
    const coordinates = <%- JSON.stringify(listing.geometry.coordinates) %>;
</script>


<body>

    <div class="row">
        <div class="col-8 offset-2">
            <br>
            
            <h3 style="text-align: center;" style="margin-top: 2rem !important;"><%= listing.title %></h3>
            
            <br>

            <div class="card listing-card" >
                <img src="<%= listing.image.url  %>" class="card-img-top" alt="listing_image" style="height: 320px; width: 456px; align-self: center;">
                <!-- WE ARE USING  this listing.image.url -->
 
                <br>
                <div class="card-body-showejs" class="col-8 offset-2">
                    <p>Owned By : <%= listing.owner.name %></p>
                    <p>Owner username : <%= listing.owner.username %></p>
                    <p class="card-text"><%= listing.description %></p>
                    <p>Category of Listing : <%= listing.category %></p>
                    <p>Price : &#8377;<%= listing.price.toLocaleString("en-IN") %></p>
                    <p>Country : <%= listing.country %></p>
                    <p>Location : <%= listing.location %></p>

                    <br>

                    <h4 class="mb-3" style="text-align: center;">Where you'll be</h4>
                    <div id="map" class="card-img-top"></div>

                    <!-- using this as the prvious listing dont have coordinates in the DB -->
                    <!-- <% if(listing.geometry && listing.geometry.coordinates) { %>
                        <hr>
                        <h4 style="text-align: center;">Where you'll be</h4>
                        <div id="map" class="card-img-top"></div>
                        <script src="/js/map.js"></script>
                    <% } %> -->

                </div>

                <br><br>

                <% if(currUser && currUser._id.equals(listing.owner._id)) {%>

                    <div class="showejs-btn-blk" style="width: 30rem;">
                        <a href="/listings/<%=listing._id%>/edit"  class="btn btn-dark btn-brand" style="background-color: black ; display: inline;" >Edit this listing</a>

                        <a href="/listings" class="btn btn-dark btn-brand" style="background-color: black ; display: inline;" >Go to Listings</a>

                        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE" style="display: inline;">
                            <button class="btn btn-dark btn-brand">
                                Delete
                            </button>
                        </form>

                    </div>

                <%}%>


                <br><br><br>
                
                <!-- so if the currUser is the owner that you cant give review , obvio reason-->
                <% if(currUser && !currUser._id.equals(listing.owner._id)) {%> 
                    <div style="text-align: center;" >
                        <h4>Leave a Review</h4>
                            <form 
                                action="/listings/<%= listing.id %>/reviews" 
                                method="POST" 
                                novalidate 
                                class="needs-validation"
                                >

                            <div class=" mt-4" style="display: flex; justify-content: center;"> 
                                <br>
                                
                                    <label for="rating" class="from-label"></label>

                                    <fieldset class="starability-checkmark">
                                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                                    <input type="radio" id="first-rate1" name="rating" value="1" />
                                    <label for="first-rate1" title="Terrible">1 star</label>
                                    <input type="radio" id="first-rate2" name="rating" value="2" />
                                    <label for="first-rate2" title="Not good">2 stars</label>
                                    <input type="radio" id="first-rate3" name="rating" value="3" />
                                    <label for="first-rate3" title="Average">3 stars</label>
                                    <input type="radio" id="first-rate4" name="rating" value="4" />
                                    <label for="first-rate4" title="Very good">4 stars</label>
                                    <input type="radio" id="first-rate5" name="rating" value="5" />
                                    <label for="first-rate5" title="Amazing">5 stars</label>
                                    </fieldset>
                            </div>


                            <div 
                                class="mb-3 " 
                                novalidate 
                                class="needs-validation"
                                >

                                <label for="comment" class="from-label mb-2">Comments</label>
                                
                                <textarea 
                                    placeholder="Enter comment"
                                    class="form-control" 
                                    name="review[comment]" 
                                    id="comment"
                                    cols="10"
                                    rows="5"
                                    style="width: 480px !important; text-align: center; margin-left: auto; margin-right: auto;"
                                
                                    required
                                ></textarea>

                                <div class="invalid-feedback">
                                    Please add some Comments for review and provide Rating
                                </div>
                            </div>


                            <button class="btn btn-dark !important">Submit</button>
                            </form>
                    </div>

                <%} %>


                <br><br><br><br><br>


                <% if(listing.reviews.length > 0) { %>

                <div class="container">
                    
                    <h4 style="text-align: center;">All Reviews</h4>
                    
                    <br>

                    <div class="row ">
                        <% for(let review of listing.reviews) { %>
                        <div class="col-6 mb-3" style="align-self: center;"> 
                            <div class="card h-100">
                            <div class="card-body" style="padding: 3px !important; padding-left: 10px !important;">
                                <h6 class="card-title">@<%= review.author.username %> </h6>
                                <p class="card-text" style="margin-bottom: 8px;"><%= review.comment %></p>
                                <p class="starability-result" data-rating= <%= review.rating %>>
                                    Rated: 3 stars
                                </p>
                            </div>

                            <form 
                                method="POST"
                                action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" 
                                >
                                <button class="btn btn-sm btn-dark btn-brand" style="background-color: black !important; margin: 0px 10px 10px 10px;">
                                    Delete
                                </button>
                            </form>
                            </div>
                        </div>
                        <% } %>
                    </div>
                    <% } %>


                </div>

            </div>

            <br>

        </div>

        
    </div>
    

<script src="/js/map.js"></script>
</body>
